body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    min-height: 100vh;
}

.calculator{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    height: 600px;
    background-color: black;
    border-radius: 20px;
    align-items: center;
}

.line{
    background-color: white;
    width: 400px;
    height: 3px;
    position: relative;
    top: 130px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 400px;
    position: relative;
    top: 170px;
    gap:14px;
    align-items: center;
    justify-content: center;
}

.icons{
    width: 70px;
    height: 70px;
    border-radius: 15px;
}