body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    min-height: 100vh;
    font-family: "Nonito", sans-serif;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 650px;
    background-color: black;
    border-radius: 20px;
}

.line{
    background-color: white;
    width: 400px;
    height: 3px;
    position: relative;
    top: 60px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 400px;
    position: relative;
    top: 75px;
    gap:14px;
    align-items: center;
    justify-content: center;
}

.icons{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.icons:hover{
    background-color: white;
    color: black;
}

.grey{
    background-color: rgb(173, 173, 173);
}

.pink{
    background-color: rgb(248, 111, 134);
}

.black{
    background-color: rgb(0, 0, 0);
}

.gradient{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 92, 119));
}

#display{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding: 10px;
}

#exp{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    color: rgb(157, 157, 157);
    position: relative;
    top: 70px;
    width: 325px;
    height: 60px;
}

#answer{    
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    color: white;
    position: relative;
    top: 70px;
    font-weight: bold;
    font-size: 30px;
    width: 325px;
    height: 80px;
}
    



